<% include ../partials/header %>


<div class="ui main text container segment">
  <div class="ui huge header">New health tips</div>
   
    <form class="ui form" action="/indexhealth" method="POST">
        <div class="field">
        <label>Title</label>
        <input type="text" name="health[title]" placeholder="title">    
        </div> 
        <div class="field">
        <label>Image</label>
         <input type="text" name="health[image]" placeholder="image">
        </div>
        <div class="field">
        <label>health Content</label>
        <textarea name="health[body]"></textarea>
        </div>
        <button class="ui blue  basic button">
        <i class="icon upload"></i> Post</button>
        <button class="ui green   basic button">
          <i class="icon upload" href="/indexhealth"></i> back</button>
    </form>

</div>

<% include ../partials/footer %>